Repository bitpart-ai/ent: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check
        additional_dependencies: [ruff]
        language: python
        types: [python]
        exclude: tests/.*
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        additional_dependencies: [ruff]
        language: python
        types: [python]
      - id: mypy
        name: mypy
        entry: python -m mypy
        additional_dependencies: [mypy]
        language: python
        types: [python]
        exclude: tests/.*

Add tests
  src/ent/lib/domain.py
  tests/fixtures/transcript.csv
  tests/test_domain.py
Due: ruff-check, ruff-format, mypy

Add tests for dialogue choices
  src/ent/cli.py
  src/ent/lib/action.py
  src/ent/lib/domain.py
  tests/fixtures/transcript.csv
  tests/test_domain.py
Due: ruff-check, ruff-format, mypy

Remove debug
  tests/test_domain.py
Due: ruff-format

Add more docs
  README.md
  src/ent/lib/domain.py
  tests/test_domain.py
Due: ruff-check, ruff-format, mypy

Clean up docs
  README.md
Due: none

Fix typo
  README.md
Due: none
